/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --main-color: #3b8e00;
    --main-color-alt: #6bff01;
    --main-transition: 0.3s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
    --section-background: #ececec;
}

/* .loader */
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000000;
    transition: 5s;
}

.loader--hidden {
    opacity: 0;
    visibility: hidden;
}

.loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: #009578;
    border-radius: 50%;
    animation: loading 2s ease infinite;
}

@keyframes loading {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(5turn);
    }
}

/* end.loader */

/* srart Custom Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--main-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--main-color-alt);
}

/* end Custom Scrollbar */

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Cairo", sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.main-title {
    text-transform: uppercase;
    margin: 0 auto 80px;
    border: 2px solid black;
    padding: 10px 20px;
    font-size: 30px;
    width: fit-content;
    position: relative;
    z-index: 1;
    transition: var(--main-transition);
}

.main-title::before {
    content: "";
    width: 12px;
    height: 12px;
    background-color: var(--main-color);
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: -30px;
    transform: translateY(-50%);
}

.main-title:hover::before {
    z-index: -1;
    animation: main-left 0.5s linear forwards;
}

.main-title::after {
    content: "";
    width: 12px;
    height: 12px;
    background-color: var(--main-color);
    position: absolute;
    border-radius: 50%;
    top: 50%;
    right: -30px;
    transform: translateY(-50%);
}

.main-title:hover::after {
    z-index: -1;
    animation: main-right 0.5s linear forwards;
}

.main-title:hover {
    color: white;
    border: 2px solid white;
    transition-delay: 0.5s;
}

/* End Global Rules */

/* Start Header */
.header {
    background-color: white;
    position: relative;
    -webkit-box-shadow: 0 0 10px #ddd;
    -moz-box-shadow: 0 0 10px #ddd;
    box-shadow: 0 0 10px #ddd;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.header .brand {
    color: var(--main-color);
    font-size: 30px;
    font-weight: bold;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 767px) {
    .header .logo {
        width: 100%;
        height: 50px;
    }
}

.header .main-nav {
    display: flex;
}

@media (max-width: 767px) {
    .header .main-nav {
        margin: auto;
    }
}

.header .main-nav>li:hover .mega-menu {
    opacity: 1;
    z-index: 100;
    top: calc(100% + 1px);
}

.header .main-nav>li>a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    position: relative;
    color: black;
    padding: 0 30px;
    overflow: hidden;
    font-size: 18px;
    font-weight: 600;
    transition: var(--main-transition);
}

@media (max-width: 767px) {
    .header .main-nav>li>a {
        padding: 10px;
        font-size: 14px;
        height: 40px;
    }
}

.header .main-nav>li>a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--main-color);
    top: 0;
    left: -100%;
    transition: var(--main-transition);
}

.header .main-nav>li>a:hover {
    color: var(--main-color);
    background-color: #fafafa;
}

.header .main-nav>li>a:hover::before {
    left: 0;
}

.header .mega-menu {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 30px;
    background-color: white;
    border-bottom: 3px solid var(--main-color);
    z-index: -1;
    display: flex;
    gap: 40px;
    top: calc(100% + 50px);
    opacity: 0;
    transition: top var(--main-transition), opacity var(--main-transition);
}

@media (max-width: 767px) {
    .header .mega-menu {
        flex-direction: column;
        gap: 0;
        padding: 5px;
    }
}

.header .mega-menu .image img {
    max-width: 100%;
}

@media (max-width: 991px) {
    .header .mega-menu .image {
        display: none;
    }
}

.header .mega-menu .links {
    min-width: 250px;
    flex: 1;
}

.header .mega-menu .links li {
    position: relative;
}

.header .mega-menu .links li:not(:last-child) {
    border-bottom: 1px solid #e9e6e6;
}

@media (max-width: 767px) {
    .header .mega-menu .links:first-of-type li:last-child {
        border-bottom: 1px solid #e9e6e6;
    }
}

.header .mega-menu .links li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #fafafa;
    z-index: -1;
    transition: var(--main-transition);
}

.header .mega-menu .links li:hover::before {
    width: 100%;
}

.header .mega-menu .links li a {
    color: var(--main-color);
    padding: 15px;
    display: block;
    font-size: 18px;
    font-weight: bold;
}

.header .mega-menu .links li a i {
    margin-right: 10px;
}

/* End Header */
/* Start Landing */
.landing {
    position: relative;
}

.landing::before {
    content: "";
    position: absolute;
    left: 0;
    top: -40px;
    width: 100%;
    height: 100%;
    background-color: #ececec;
    z-index: -1;
    transform: skewY(-6deg);
    transform-origin: top left;
}

.landing .container {
    min-height: calc(100vh - 72px);
    display: flex;
    align-items: center;
    padding-bottom: 120px;
}

.landing .text {
    flex: 1;
}

@media (max-width: 991px) {
    .landing .text {
        text-align: center;
    }
}

.landing .text h1 {
    font-size: 40px;
    margin: 0;
    letter-spacing: -2px;
}

.landing .container .text h1 span {
    color: var(--main-color);
    text-transform: uppercase;
}

@media (max-width: 767px) {
    .landing .text h1 {
        font-size: 28px;
    }
}

.landing .text p {
    font-size: 20px;
    line-height: 1.4;
    margin: 10px 0 0;
    color: #666;
    max-width: 550px;
}

@media (max-width: 991px) {
    .landing .text p {
        margin: 10px auto;
    }
}

@media (max-width: 767px) {
    .landing .text p {
        font-size: 18px;
    }
}

.landing .image img {
    position: relative;
    width: 500px;
    animation: up-and-down 5s linear infinite;
}

@media (max-width: 991px) {
    .landing .image {
        display: none;
    }
}

.landing .go-down {
    color: var(--main-color);
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    transition: var(--main-transition);
}

.landing .go-down:hover {
    color: var(--main-color-alt);
}

.landing .go-down i {
    animation: bouncing 1.5s infinite;
    font-size: 25px;
}

/* End Landing */
/* Start Articles */
.Articles {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
}

.Articles .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}

.Articles .box {
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    background-color: white;
    border-radius: 6px;
    overflow: hidden;
    transition: transform var(--main-transition), box-shadow var(--main-transition);
}

.Articles .box:hover {
    transform: translateY(-10px);
    box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
}

.Articles .box img {
    max-width: 100%;
}

.Articles .box .content {
    padding: 20px;
}

.Articles .box .content h3 {
    margin: 0;
}

.Articles .box .content p {
    margin: 10px 0 0;
    line-height: 1.5;
    color: #777;
}

.Articles .box .info {
    padding: 20px;
    border-top: 1px solid #e6e6e7;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Articles .box .info a {
    color: var(--main-color);
    font-weight: bold;
}

.Articles .box .info i {
    color: var(--main-color);
}

.Articles .box:hover .info i {
    animation: moving-arrow var(--main-transition) linear infinite;
}

/* end Articles */

/* start gallery */
.gallery {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: var(--section-background);
}

.gallery .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.gallery .container .box {
    padding: 20px;
    background-color: white;
    box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%), 0px 2px 4px 0px rgb(0 0 0 / 12%);
}

.gallery .container .image {

    position: relative;
    overflow: hidden;
}

.gallery .container .image::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(59 142 0 / 0.5);
    width: 0;
    height: 0;
    opacity: 0;
    z-index: 2;
}

.gallery .container .image:hover::before {
    animation: flashing calc(var(--main-transition) + 0.5s);
}

.gallery .container .image img {
    width: 100%;
    max-width: 100%;
    transition: var(--main-transition);
}

.gallery .container .image:hover img {
    transform: rotate(6deg) scale(1.1);
}

/* end  gallery  */

/* start animation */
@keyframes up-and-down {

    0%,
    100% {
        top: 0;
    }

    50% {
        top: -50px;
    }
}

@keyframes bouncing {

    0%,
    10%,
    20%,
    40%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40%,
    60% {
        transform: translateY(-15px);
    }
}

/* start FEATURES */
.features {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: white;
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.features .box {
    text-align: center;
    border-style: ridge;
}

.features .box .img-holder {
    position: relative;
    overflow: hidden;
}

.features .box .img-holder::before {
    content: '';
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    height: 100%;
}

.features .box .img-holder::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    border-style: solid;
    border-width: 0 0 160px 650px;
    border-color: transparent transparent white transparent;
    transition: var(--main-transition);
}

.features .box .img-holder img {
    max-width: 100%;
}

.features .box:hover .img-holder::after {
    border-width: 160px 650px 160px 0;
}

.features .box h2 {
    position: relative;
    font-size: 44px;
    margin: auto;
    width: fit-content;
}

.features .box h2::after {
    content: '';
    position: absolute;
    bottom: -18px;
    left: 18px;
    height: 5px;
    width: calc(100% - 36px);
}

.features .box p {
    padding: 15px;
    line-height: 1.4;
    font-size: 20px;
    margin: 30px 0;
    color: #777;
}

.features .box a {
    display: block;
    border: 2px solid;
    margin: 0 auto 40px;
    width: fit-content;
    font-size: 25px;
    font-weight: bold;
    padding: 10px 25px;
    text-transform: uppercase;
}

.features .Quality .img-holder::before {
    background-color: rgba(102, 51, 153, 0.497);
}

.features .Quality h2::after {
    background-color: rebeccapurple;
}

/*******************************/

.features .Quality a {
    color: rebeccapurple;
}

/*******************************/

.features .Time .img-holder::before {
    background-color: rgba(71, 153, 51, 0.497);
}

.features .Time h2::after {
    background-color: rgb(71, 153, 15);
}

/*******************************/

.features .Time a {
    color: rebeccapurple;
}

/*******************************/

.features .Passion .img-holder::before {
    background-color: rgba(156, 36, 36, 0.497);
}

.features .Passion h2::after {
    background-color: rgb(255, 0, 0);
}

/* end FEATURES */

/* start TESTIMONIALS */
.TESTIMONIALS {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: var(--section-background);
}

.TESTIMONIALS .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.TESTIMONIALS .container .box {
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 4px rgb(0 0 0 / 40%);
    border-radius: 20px;
    position: relative;
}

.TESTIMONIALS .container .box img {
    position: absolute;
    right: -10px;
    top: -50px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid var(--section-background);
}

.TESTIMONIALS .container .box h3 {
    margin: 0 0 10px;
    color: var(--main-color);
}

.TESTIMONIALS .container .box .title {
    color: #777;
    margin-bottom: 10px;
    display: block;

}

.TESTIMONIALS .container .box .rate {
    color: gold;
}

.TESTIMONIALS .container .box p {
    line-height: 1.4;
    margin-top: 10px;
    color: #777;
}

/* end TESTIMONIALS */

.team {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
}

.team .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}

.team .container .box {
    position: relative;
}

.team .container .box::before {
    content: '';
    position: absolute;
    background-color: var(--section-background);
    right: 0;
    top: 0;
    width: calc(100% - 60px);
    height: 100%;
    border-radius: 20px;
    z-index: -5;
    transition: calc(var(--main-transition) + 2s);
}

.team .container .box::after {
    content: '';
    position: absolute;
    background-color: var(--section-background);
    right: 0;
    top: 0;
    width: 0;
    height: 100%;
    border-radius: 20px;
    background-color: #e4e4e4;
    z-index: -1;
}

.team .container .box:hover::after {
    width: calc(100% - 60px);
}

.team .container .box .data {
    display: flex;
    align-items: center;
    padding-top: 50px;
}

.team .container .box .data img {
    width: calc(100% - 50px);
    max-width: calc(100% - 50px);
    transition: var(--main-transition);
    border-radius: 20px;
}

.team .container .box:hover img {
    filter: grayscale(100%);
}

.team .container .box .data .social {
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.team .container .box .data .social a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 40px;
}

.team .container .box .data .social a i {
    font-size: 18px;
    color: #777;
    transition: var(--main-transition);
}

.team .container .box .data .social a i:hover {
    color: var(--main-color);

}

.team .container .box .info {
    padding-left: 70px;
}

.team .container .box .info h3 {
    color: var(--main-color);
    margin-bottom: 0;
}

.team .container .box .info p {
    margin-top: 10px;
    margin-bottom: 25px;
}

/* start services */
.services {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: var(--section-background);
}

.services .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.services .container .box {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 13%);
    position: relative;
    transition: var(--main-transition);
}

.services .container .box::before {
    content: "";
    position: absolute;
    left: 50%;
    height: 3px;
    top: -3px;
    width: 0;
    transform: translateX(-50%);
    background-color: var(--main-color);


    transition: var(--main-transition);
}

.services .container .box:hover {
    transform: translateY(-10px);
}

.services .container .box:hover::before {
    width: 100%;
}

.services .container .box i {
    display: block;
    margin: 40px auto;
    text-align: center;
    color: #d5d5d5;
}

.services .container .box h3 {
    text-align: center;
    margin: 20px 0 40px;
    color: var(--main-color);
    font-size: 30px;
}

.services .container .box .info {
    padding: 20px;
    position: relative;
    background-color: #f5f5f5;
    text-align: right;
}

.services .container .box .info a {
    color: var(--main-color);
}

.services .container .box .info a:hover {
    color: var(--main-color-alt);
}

.services .box .info::before {
    content: "0" counter(services);
    position: absolute;
    background-color: var(--main-color);
    color: white;
    left: 0;
    top: 0;
    height: 100%;
    width: 80px;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 15px;
}

.services .container .box .info::after {
    content: "";
    position: absolute;
    background-color: #d5d5d5;
    top: 0;
    left: 80px;
    width: 50px;
    height: calc(100% + 0.4px);
    transform: skewX(-30deg);
}

/* end services */

/* start our-skills */
.our-skills {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
}

.our-skills .container {
    display: flex;
    align-items: center;
}

@media(max-width: 991px) {
    .our-skills .container img {
        display: none;
    }
}

.our-skills .container .skills {
    flex: 1;
}


.our-skills .container .skills .skill h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.our-skills .container .skills .skill h3 span {
    font-size: 12px;
    border: 1px solid;
    padding: 3px 5px;
    border-radius: 6px;
    color: var(--main-color);
}

.our-skills .container .skills .skill .the-progress {
    height: 30px;
    background-color: var(--section-background);
    position: relative;
}

.our-skills .container .skills .skill .the-progress span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--main-color-alt);
}

/* end our-skills */

/* start HOW IT WORKS */

.work-space {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: var(--section-background);
}

.work-space .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.work-space .container .image {
    max-width: 100%;
    margin-right: 100px;
}

@media(max-width: 991px) {
    .work-space .container {
        flex-direction: column;
    }

    .work-space .container .image {
        margin: 0 0 60px;
    }
}

.work-space .container .info .box {
    background-color: white;
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    border: 2px solid var(--main-color-alt);
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.work-space .container .info .box::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 0;
    height: 0;
    transform: translate(-50%, -50%);
    background-color: rgb(59 142 0 / 0.2);
    transition: var(--main-transition);
}

.work-space .container .info .box:hover::before {
    width: 100%;
    height: 100%;
}

.work-space .container .info .box img {
    max-width: 64px;
    padding-right: 20px;
}

.work-space .container .info .box h3 {
    color: #3b8e00;
    margin: 0;
    font-size: 25px;
}

.work-space .container .info .box p {
    color: #777;
    line-height: 1.4;
    margin: 10px 0 0;
    font-size: 15px;
}

/* end HOW IT WORKS */

/* start latest-events */

.latest-events {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
}

.latest-events .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.latest-events .container img {
    max-width: 420px;
}

@media (max-width: 991px) {
    .latest-events .container img {
        display: none;
    }
}

.latest-events .container .info {
    flex: 1;
}

.latest-events .container .info .time {
    display: flex;
    align-items: center;
    margin: 20px auto;
    gap: 10px;
    justify-content: center;
}

.latest-events .container .info .time .unit {
    border: 1px solid #bbbbbb;
    border-radius: 6px;
    text-align: center;
    width: 80px;
    transition: var(--main-transition);
}

.latest-events .container .info .time .unit span:first-child {
    display: block;
    display: block;
    padding: 15px;
    font-size: 40px;
    font-weight: bold;
    color: var(--main-color);
}

.latest-events .container .info .time .unit span:last-child {
    display: block;
    padding: 8px 10px;
    font-size: 13px;
    border-top: 1px solid #bbbbbb;
    transition: var(--main-transition);
}

.latest-events .container .info .time .unit:hover,
.latest-events .container .info .time .unit span:last-child:hover {
    border-color: var(--main-color-alt);
}

.latest-events .container .title {
    text-align: center;
    margin: 40px 0 0;
    font-size: 30px;
}


.latest-events .container .direction {
    text-align: center;
    line-height: 1.4;
    font-size: 18px;
    color: #777;
}

.latest-events .container .subscription {
    width: 100%;
    margin-top: 80px;
}

.latest-events .container .subscription form {
    width: 600px;
    margin: 20px auto;
    padding: 30px 40px;
    background-color: #f6f5f5;
    border-radius: 60px;
    display: flex;
    gap: 30px;
}

@media(max-width:767px) {
    .latest-events .container .subscription form {
        max-width: 100%;
        flex-direction: column;
        padding: 20px;
        border-radius: 20px;
    }
}

.latest-events .container .subscription form input[type="email"] {
    padding: 20px;
    border-radius: 60px;
    flex: 1;
    border: none;
    caret-color: var(--main-color-alt);
}

@media(max-width:767px) {
    .latest-events .container .subscription form input[type="email"] {
        border-radius: 20px;
    }

}

.latest-events .container .subscription form input[type="email"]::placeholder {
    transition: opacity var(--main-transition);
}

.latest-events .container .subscription form input[type="email"]:focus::placeholder {
    opacity: 0;
}

.latest-events .container .subscription form input[type="email"]:focus {
    outline: none;
}

.latest-events .container .subscription form input[type="submit"] {
    border-radius: 60px;
    border: none;
    background-color: var(--main-color-alt);
    font-weight: bold;
    color: white;
    padding: 20px;
    cursor: pointer;
    transition: var(--main-transition);
}

@media(max-width:767px) {
    .latest-events .container .subscription form input[type="submit"] {
        border-radius: 20px;
    }

}

.latest-events .container .subscription form input[type="submit"]:hover {
    background-color: var(--main-color);
}

/* end latest-events */

/* start PRICING PLANS */

.pricing {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: var(--section-background)
}

.pricing .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.pricing .container .box {
    position: relative;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    transition: var(--main-transition);
    background: white;
    text-align: center;
    z-index: 1;
}

.pricing .container .box::before,
.pricing .container .box::after {
    content: '';
    width: 0;
    height: 50%;
    position: absolute;
    background-color: rgb(59 142 0 / 0.2);
    z-index: -1;
    transition: var(--main-transition);
}

.pricing .container .box::before {
    left: 0;
    top: 0;
}

.pricing .container .box::after {
    right: 0;
    bottom: 0;
}

.pricing .container .box:hover::after,
.pricing .container .box:hover::before {
    width: 100%;
}

@media (min-width: 1200px) {
    .pricing .container .box.Popular {
        top: -20px;
    }
}

.pricing .container .box.Popular .lable {
    position: absolute;
    writing-mode: vertical-rl;
    top: 0;
    background-color: var(--main-color-alt);
    font-weight: bold;
    color: white;
    padding: 10px 10px 40px 10px;
    font-size: 20px;
    right: 25px;
    width: 40px;
}

.pricing .container .box.Popular .lable::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    border-style: solid;
    border-color: transparent transparent white transparent;
    border-width: 20px;
}

.pricing .container .box .title {
    font-weight: bold;
    margin: 30px 0;
    font-size: 30px;
    color: var(--main-color);
}

.pricing .container .box img {
    width: 80px;
    margin-bottom: 40px;
}

.pricing .container .box .price {
    margin-bottom: 20px;
}

.pricing .container .box .price span:first-child {
    display: block;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--main-color-alt);
}

.pricing .container .box .price span:last-child {
    color: #777;
}

.pricing .container .box ul {
    text-align: left;
}

.pricing .container .box ul li {
    padding: 20px;
    border-top: 1px solid #eee;
}

.pricing .container .box ul li::before {
    font-family: "Font Awesome 6 Free";
    content: "\f00c";
    margin-right: 10px;
    font-weight: 900;
    color: var(--main-color);
}

.pricing .container .box a {
    display: block;
    width: fit-content;
    border: 3px solid var(--main-color);
    color: var(--main-color-alt);
    margin: 30px auto 40px;
    padding: 15px 20px;
    border-radius: 10px;
    font-weight: bold;
    transition: var(--main-transition);
}

.pricing .container .box a:hover {
    border-color: var(--main-color-alt);
    color: white;
    background-color: var(--main-color);
}

/* end PRICING PLANS */

/* start TOP VIDEOS  */

.videos {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
}

.videos .container .holder {
    display: flex;
    justify-content: center;
    background-color: var(--section-background);
    border: 1px solid #adadad;
}

@media(max-width: 991px) {
    .videos .container .holder {
        flex-direction: column;
    }
}

.videos .container .holder .list {
    min-width: 300px;
    background-color: white;
}

.videos .container .holder .list .name {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #f4f4f4;
    font-weight: bold;
    font-size: 20px;
    color: var(--main-color);


}

.videos .container .holder .list ul li {
    padding: 20px;
    border-top: 1px solid #777;
    cursor: pointer;
    transition: var(--main-transition);
}

.videos .container .holder .list ul li:hover {
    color: var(--main-color);
    background-color: #fafafa;
}

.videos .container .holder .list ul li span {
    display: block;
    margin-top: 10px;
    color: #777;
}

.videos .container .holder .preview img {
    max-width: 100%;
}

.videos .container .holder .preview {
    background-color: #e2e2e2;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-between;
}

.videos .container .holder .preview .info {
    padding: 20px;
    background-color: whitesmoke;
    margin-top: 10px;
}

/* end TOP VIDEOS */

/* start satus */
.status {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../image/stats.jpg);
    background-size: cover;
    min-height: 300px;
}

.status::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255 255 255 / 80%);
}

.status h2 {
    position: relative;
    font-weight: bold;
    font-size: 40px;
    width: fit-content;
    margin: 0 auto 50px;
}

.status .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}

.status .container .box {
    position: relative;
    background-color: white;
    padding: 30px 15px;
    text-align: center;
    opacity: .8;
    transition: var(--main-transition);
}

.status .container .box:hover {
    opacity: 1;
}

.status .container .box::before,
.status .container .box::after {
    content: '';
    position: absolute;
    width: 2px;
    background-color: var(--main-color-alt);
    transition: calc(var(--main-transition) + 0.2s);
    height: 0;
}

.status .container .box::before {
    top: 0;
    right: 0;
}

.status .container .box::after {
    left: 0;
    bottom: 0;
}

.status .container .box:hover::before,
.status .container .box:hover:after {
    height: 100%;
}


.status .container .box .number {
    display: block;
    font-size: 50px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.status .container .box span:last-child {
    color: var(--main-color);
    font-size: 20px;
    font-weight: bold;
}

/* end satus */

/* start Discount */
.discount {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 50px;
}

.discount .image {
    background-image: url(../image/discount-background1.jpg);
    background-size: cover;
    color: white;
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    animation: change-background 10s linear infinite;
}

.discount .image::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(23, 224, 46, 0.97);
    z-index: -1;
}

@media (max-width: 991px) {
    .discount .image {
        flex-basis: 100%;
    }
}

.discount .form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 50%;
}

@media (max-width: 991px) {
    .discount .form {
        flex-basis: 100%;
    }
}

.discount .form .input {
    display: block;
    width: 100%;
    margin-bottom: 25px;
    padding: 15px;
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: #f9f9f9;
    caret-color: var(--main-color);
}

.discount .form textarea.input {
    resize: none;
    height: 200px;
}

.discount .form .input:focus {
    outline: none;
}

.discount .form [type="submit"] {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: none;
    cursor: pointer;
    transition: var(--main-transition);
}

.discount .form [type="submit"]:hover {
    background-color: var(--main-color-alt);
}


.discount .content {
    text-align: center;
    padding: 0 20px;
}

.discount .content h2 {
    font-size: 40px;
}

.discount .content p {
    font-size: 20px;
    max-width: 500px;
}

.discount .content img {
    width: 300px;
    max-width: 100%;
}

/* end Discount */

/* Start Footer */

.footer {
    background-color: #000000;
    padding: 70px 0 0;
}

@media (max-width: 767px) {
    .footer {
        text-align: center;
    }
}

.footer .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}

.footer .box h3 {
    color: white;
    font-size: 50px;
    margin: 0 0 20px;
}

.footer .box .social {
    display: flex;
}

@media (max-width: 767px) {
    .footer .box .social {
        justify-content: center;
    }
}

.footer .box .social li {
    margin-right: 10px;
}

.footer .box .social li a {
    background-color: #313131;
    color: #b9b9b9;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
    transition: var(--main-transition);
}

.footer .box .social .facebook:hover {
    background-color: #1877f2;
}

.footer .box .social .twitter:hover {
    background-color: #1da1f2;
}

.footer .box .social .youtube:hover {
    background-color: #ff0000;
}

.footer .box .text {
    line-height: 2;
    color: #b9b9b9;
}

.footer .box .links li {
    padding: 15px 0;
    transition: var(--main-transition);
}

.footer .box .links li:not(:last-child) {
    border-bottom: 1px solid #444;
}

.footer .box .links li:hover {
    padding-left: 10px;
}

.footer .box .links li:hover a {
    color: white;
}

.footer .box .links li a {
    color: #b9b9b9;
    transition: var(--main-transition);
}

.footer .box .links li a::before {
    font-family: "Font Awesome 5 Free";
    content: "\F101";
    font-weight: 900;
    margin-right: 10px;
    color: var(--main-color);
}

.footer .box .line {
    display: flex;
    align-items: center;
    color: #b9b9b9;
    margin-bottom: 30px;
}

@media (max-width: 767px) {
    .footer .box .line {
        flex-direction: column;
    }
}

.footer .box .line i {
    font-size: 25px;
    color: var(--main-color);
    margin-right: 10px;
}

@media (max-width: 767px) {
    .footer .box .line i {
        margin-right: 0;
        margin-bottom: 15px;
    }
}

.footer .box .line .info {
    line-height: 1.7;
    flex: 1;
}

.footer .box .line .info span {
    display: block;
}

.footer .footer-gallery img {
    width: 78px;
    border: 3px solid white;
    margin: 2px;
}

.footer .copyright {
    padding: 25px 0;
    text-align: center;
    color: white;
    margin: 50px 0 0;
    border-top: 1px solid #444;
}

/* End Footer */


@keyframes main-left {
    50% {
        width: 12px;
        height: 12px;
        left: 0;
    }

    100% {
        left: 0;
        border-radius: 0;
        width: 100%;
        height: 100%;
    }
}

@keyframes main-right {
    50% {
        width: 12px;
        height: 12px;
        right: 0;
    }

    100% {
        right: 0;
        border-radius: 0;
        width: 100%;
        height: 100%;
    }
}

@keyframes moving-arrow {
    100% {
        transform: translateX(10px);
    }
}

@keyframes flashing {

    0%,
    40% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}

/* end animation */